{% extends 'base.html' %}

{% block content %}

<div class="column">

{% for profile in profiles %}

    <div class="block">
      <div class="card">
        <a href="{% url 'psia_python_app:profile' profile.id %}">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <div class="content">
                  {% for userpost in profile.user.userposts.all %}
                        <figure class="image is-96x96">
                          <img class="is-rounded" src="
                          {{userpost.profile_image.url}}" width="100" height="100" float="media-left">
                        </figure>
                  {% endfor %}
                </div>
              </div>
              <div class="media-content">
                <p class="title is-2">
                  {{profile.user.profile_image.url}}
                  {{ profile.user.username }}
                </p>
                <p class="subtitle is-size-4">
                  @{{ profile.user.username|lower }}
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

{% endfor %}

</div>

{% endblock content %}